.global-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    color: var(--white);
    background: url() center/cover no-repeat;
    background-color: rgb(39, 39, 39);
    z-index: -99;
}

.title {
    font-size: 5rem;
}

.animate__animated.animate__backInLeft {
    --animate-duration: 2s;
}

.animate__animated.animate__backInRight {
    --animate-duration: 3.5s;
}

.animate__flash {
    --animate-duration: 3.5s;
}