/***** Style général du projet *****/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@font-face {
    font-family: "Digitaltech-rm0K";
    src: url(../font/Digitaltech-rm0K.otf);
}

:root {
    /* --first-color: ; */
    --second-color: #f7d5a8;
    --dark-blue: #0a2144;
    --light-blue: #1b2d3c;
    --yellow: #f8f525;
    --black: #0c0c0c;
    --white: #fff;
    --light-bg:rgba(0, 0, 0, 0.185);
    --light-color: #666;
    
    --box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.87);
    ---webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.87);

    ---webkit-box-shadow-img: 1px 1px 13px 5px rgba(0,0,0,0.69); 
    --box-shadow-img: 1px 1px 13px 5px rgba(0,0,0,0.69);
}

* {
    font-family: 'Electrolize', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear; 
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
    color: #000000;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 20px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
    background-color: var(--dark-blue);
}

body {
    overflow-x: hidden;
}

.global {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    min-height: 100vh;
}

/***** HEADER *****/
header {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    z-index: 100;
}

/***** LOGO *****/
header .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

header .header-link .header-span img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/***** NOM DU SITE *****/
header .header-link h3 {
    flex-grow: 2;
    text-align: center;
    font-family: "Digitaltech-rm0K", cursive;
    font-size: clamp(2.8rem, 2.5vw, 10rem);
    color: var(--white);
}
header .header-link h3:hover {
    letter-spacing: .20em;
    color: var(--second-color);
}

/* Sidebar */
.sidebar {
    grid-area: 2 / 1 / 6 / 2;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    min-width: 195px;
    max-width: 80%;
    height: calc(100vh - 80px);
    backdrop-filter: blur(7px);
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
    transition: left 0.6s ease;
    z-index: 999;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.searchbar {
    cursor: pointer;
    top: 9px;
    margin: 15px;
    font-size: 25px;
}

.searchbar {
    display: flex;
    align-items: center;
    left: 0;
    width: 85%;
}

.searchbar input {
    width: 100%;
    height: 40px;
    margin-right: 20px;
    font-size: 20px;
    border: 1px solid var(--second-color);
}
.searchbar input:focus {
    border: .5rem solid var(--second-color);
    outline: none;
}

.searchbar i:hover {
    color: var(--second-color);
}

.sidebar-menu {
    align-self: flex-start;
    width: 100%;
    margin-top: 30px;
}

.sidebar-menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sidebar-menu nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    text-decoration: none;
    line-height: 60px;
    color: var(--white);
}
.sidebar-menu nav a:hover {
    color: var(--second-color);
}

.sidebar-menu nav a i {
    margin-right: 15px;
    color: var(--second-color);
}

.nav-login,
.nav-user,
.nav-logout {
    width: auto;
}

section {
    grid-area: 2 / 2 / 6 / 6;
    margin: 0 2%;
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    max-width: 200px;
    height: 40px;
    margin: 10px;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    background-color: transparent;
    transition: all 0.3s ease;
}
button:hover {
    letter-spacing: .20em;
    text-shadow: 0 0 5px var(--second-color);
    color: var(--second-color);
}

/* Pied de page */
.sidebar-footer {
    margin-top: auto;
    text-align: center;
    height: 75px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}