/* Style général du projet */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@font-face {
    font-family: "Digitaltech-rm0K";
    src: url(../font/Digitaltech-rm0K.otf);
}

:root {
    /* --first-color: ; */
    --second-color: #f7d5a8;
    --green: #0b5743;
    --light-green: #12dda0;
    --yellow: #f8f525;
    --black: #0c0c0c;
    --white: #fff;
    --light-bg:rgba(0, 0, 0, 0.185);
    --light-color: #666;
}

* {
    font-family: 'Electrolize', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear; 
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
    color: #000000;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 20px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

body {
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding: 0 2rem;
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    background-color: transparent;
    transition: all 0.3s ease;
}
button:hover {
    letter-spacing: .20em;
    text-shadow: 0 0 5px var(--second-color);
    color: var(--second-color);
}

.global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    z-index: -99;
}

.open-btn {
    cursor: pointer;
    position: absolute;
    top: 85px;
    left: 25px;
    margin: 25px;
    font-size: 35px;
}

/* Navbar */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85px;
    left: -300px;
    /* left: 0; */
    width: 300px;
    height: calc(100vh - 80px);
    backdrop-filter: blur(7px);
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.87); 
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.87);
    transition: left 0.6s ease;
    z-index: 999;
    overflow-y: auto;
}
.sidebar.active {
    left: 0;
    width: 15%;
}

.sidebar-header {
    height: 80px;
}

.searchbar,
.close-btn {
    cursor: pointer;
    font-size: 35px;
}
.close-btn {
    position: absolute;
    top: 9px;
    right: 0;
    margin: 15px;
}

.sidebar-menu {
    align-self: flex-start;
    width: 100%;
    margin-top: 30px;
}

.sidebar-menu .item {
    cursor: pointer;
    position: relative;
}

.sidebar-menu .item a {
    display: block;
    padding: 5px 30px;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
    color: var(--white);
}
.sidebar-menu .item a:hover {
    color: var(--second-color);
}

.item i {
    margin-right: 15px;
}

.item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.item .sub-menu {
    display: none;
}

/* Pied de page */
.sidebar-footer {
    margin-top: auto;
    text-align: center;
    height: 75px;
    font-size: 1.5rem;
}