.global-login {
    width: 100vw;
    max-width: 100vw;
    color: var(--white);
    background: url(../../assets/images/login/login-bg.png) center/cover no-repeat;
}

.login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    min-height: auto;
    min-width: 300px;
    max-width: 450px;
    padding: 60px 45px 40px;
    backdrop-filter: blur(7px);
    opacity: 0;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.sign-in,
.sign-up {
    display: flex;
    border: 1px solid white;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    gap: 20px;
}

.sign-in {
    transform: translateY(-100%);
    animation-name: fadeInDown;
}

.sign-up {
    justify-content: stretch;
    animation-name: fadeInTop;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-img {
    position: absolute;
    width: 90px;
    height: 90px;
    top: -30px;
    left: 50%;
    border-radius: 150px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    z-index: -1;
}

.form-img img {
    width: 100%;
}

.form-container h3 {
    margin: 10px auto 0;
    font-size: clamp(1.5rem, 1.2vw, 3rem);
    text-align: center;
} 

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.input-field {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: red;
}

.input-field input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
    outline: none;
}
.input-field input:focus {
    border: .5rem solid var(--second-color);
}

.invalid input {
    border-color: #d93025;
}

.input-field .sign-in-show-hide,
.input-field .sign-up-show-hide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 13px;
    padding: 3px;
    font-size: 18px;
    color: #919191;
    transform: translateY(-50%);
}

.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-size: 13px;
    color: #d93025;
    display: none;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.sign-in-password-field .error,
.sign-up-password-field .error {
    align-items: flex-start;
}

.sign-in-password-field .error-icon,
.sign-up-password-field .error-icon {
    margin-top: 4px;
}

.button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 25px 0 6px;
}

form .button input {
    cursor: pointer;
    display: block;
    /* position: relative; */
    max-width: 200px;  
    height: 40px;
    margin: auto;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    background-color: transparent;
    transition: all 0.3s ease;
}
form .button input:hover {
    letter-spacing: .20em;
    text-shadow: 0 0 5px var(--second-color);
    color: var(--second-color);
}

/* Modale */
/* .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

@media screen and (max-width: 825px) {
    .login {
        flex-direction: column;
        gap: 30px;
        margin: 20px;
    }
}