.global-cart {
    width: 100vw;
    max-width: 100vw;
    color: var(--white);
    background: url(../../assets/images/cart/cart-bg.png) center/cover no-repeat;
}

.cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart h2 {
    margin: 20px 0;
    font-size: clamp(3rem, 2vw, 5rem);
    z-index: 10;
}

.cart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 85%;
    margin-bottom: 20px;
    border: 1px solid white;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.cart-container.with-filter {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
}

.cart-content {
    width: 100%;
    z-index: 2; /* Le contenu du panier doit être au-dessus du filtre */
}

.empty-cart-message {
    margin: 10% 0;
    font-size: clamp(1.2rem, 2.3vw, 3rem);
    text-align: center;
}

.cart-content ul {
    width: 100%;
}

.cart-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
    padding-bottom: 10px;
    font-size: clamp(1.2rem, 1vw, 3rem);
    line-height: 1.5em;
    border-bottom: 1px dashed var(--white);
}

.cart-content ul li .box-img {
    width: 70px;
    height: 70px;
    border: 1px solid var(--white);
}

.box-img img {
    width: 100%;
    height: 100%;
}

.cart-content ul li .box-items {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-content ul li .box-items span {
    width: 30%;
    margin: 0 auto;
    padding: 2px 5px;
    text-align: center;
}

.cart-content ul li .box-items .span-price {
    color: var(--black);
    background-color: var(--second-color);
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: 20px 10px;
    padding: 30px;
    font-size: clamp(1.2rem, 1vw, 1.7rem);
    border: 1px dashed white;
    z-index: 10;
}

.cart-footer button {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 991px) {
    .cart-footer #clear-button i {
        margin: 0;
    }
    
    .cart-footer #clear-button p {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .cart-content ul li {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .cart-content ul li .box-img {
        grid-area: 1 / 1 / 3 / 2;
    }

    .cart-content ul li .box-items {
        grid-area: 1 / 2 / 2 / 6;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cart-content ul li .box-items .total-price {
        grid-area: 1 / 6 / 2 / 7;
    }

    .cart-content ul li .buttons-container {
        grid-area: 2 / 2 / 3 / 7;
    }
}