.global-home {
    min-height: 100vh;
    color: var(--white);
    background: url(../../assets/images/home/home-bg.png) center/cover no-repeat;
}
 
/* Milieu de page */
.home {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    text-align: center;
    height: 90vh;
    color: var(--white);
    backdrop-filter: blur(7px);
}

.bloc {
    border: 0.1px dashed var(--white);
}

.home-left {
    grid-area: 1 / 1 / 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-right: none;
    border-bottom: none;
}

.home-left h1 {
    font-size: clamp(24px, 3vw, 32px);
    font-weight: bold;
}
.home-left h3 {
    margin-bottom: 5px;
    font-size: clamp(16px, 2vw, 20px);
}

.home-left p {
    padding: 0 20px;
    font-size: clamp(12px, 1.5vw, 14px);
    line-height: 1.5em;
}

.home-left .home-left-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.home-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    display: none;
}

.home-responsive .home-responsive-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

.home-responsive .home-responsive-img img {
    width: 100%;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

/* Carrousel */
.reviews {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

.reviews h3 {
    margin-bottom: 10px;
    font-size: clamp(16px, 2vw, 20px);
}

.cards-container {
    position: relative;
    display: flex;
    gap: 10px;
    overflow-x: visible;
    animation: 50s slide linear infinite;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.cards-container::after {
    content: "";
    flex: 0 0 125px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 125px;
    padding: 0 5px;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
    border: 3px solid var(--white);
}

.card img {
    width: 50px;
    margin-top: 10px;
    border: 3px solid var(--second-color);
    border-radius: 50%;
}

.card-text .name-product {
    margin-top: 10px;
}

.card .eval {
    margin-bottom: 10px;
}

.card .eval i {
    font-size: 1em;
    color: var(--second-color);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-108.25% - 9.75px));
    }
}

.home-right {
    grid-area: 1 / 5 / 4 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.home-right .home-right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

.home-right .home-right-img img {
    width: 100%;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.home-down {
    grid-area: 4 / 1 / 6 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-down-img {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.home-down-img img {
    max-width: 100%;
}

/* Présentation des produits */
.home-down-right {
    grid-area: 4 / 3 / 6 / 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pres-products {
    width: 100%;
}

.products-card {
    position: relative;
}

.pres-products-container {
    position: absolute;
    top: 50%;
    display: flex;
    background-color: transparent;
    transform: translateY(-50%);
}

.pres-products-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
    border: none;
}

.pres-products-left .product-title {
    font-size: clamp(1.5rem, 2vw, 5rem);
}

.pres-products-left .product-description {
    margin: 30px 0;
    padding: 0 20px;
    font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    text-align: center;
    line-height: 2em;
}

.pres-products-left .product-price {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
    color: var(--second-color);
}

.pres-products-right {
    grid-area: 4 / 7 / 6 / 9;
    position: relative;
}

.pres-products-right div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.pres-products-right div img {
    width: 100%;
    -webkit-box-shadow: 1px 1px 13px 5px rgba(0,0,0,0.69); 
    box-shadow: 1px 1px 13px 5px rgba(0,0,0,0.69);
}

@media screen and (max-width: 960px) {
    .global-home {
        overflow-y: hidden;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .home .home-left {
        height: 90vh;
        border: 0.1px dashed var(--white);
    }
    
    .home .home-left h1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .home .home-left h3 {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .home .home-left p {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .home .home-left .home-left-button button {
        grid-area: 4 / 1 / 5 / 2;
        display: block;
        height: 80%;
    }
    
    .home .home-responsive {
        grid-area: 5 / 1 / 6 / 2;
        display: block;
        border: 0.1px dashed var(--white);
    }

    .home .home-left .reviews {
        grid-area: 6 / 1 / 7 / 2;
    }

    .home-right,
    .home-down,
    .home-down-right,
    .pres-products-right {
        display: none; 
    }
}