.global-home {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    color: var(--white);
    background: url(../../assets/images/home/home-bg.png) center/cover no-repeat;
}
 
/* Milieu de page */
.home {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 75vw;
    padding: 20px;
    text-align: center;
    color: var(--white);
    backdrop-filter: blur(7px);
}

.bloc {
    border: 0.1px dashed var(--white);
}

.home-left {
    grid-area: 1 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-right: none;
    border-bottom: none;
}

.home-left h2 {
    font-size: clamp(1.5rem, 2vw, 5rem);
}

.home-left p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5em;
}

.home-left .home-left-button button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrousel */
.reviews {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

.reviews h3 {
    margin-bottom: 10px;
    font-size: clamp(1.5rem, 1.2vw, 3rem);
}

.cards-container {
    position: relative;
    display: flex;
    gap: 10px;
    overflow-x: visible;
    animation: 50s slide linear infinite;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.cards-container::after {
    content: "";
    flex: 0 0 125px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 125px;
    max-width: 125px;
    padding: 0 5px;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
    border: 3px solid var(--white);
}

.card img {
    width: 50px;
    margin-top: 10px;
    border: 3px solid var(--second-color);
    border-radius: 50%;
}

.card-text .name-product {
    margin-top: 10px;
}

.card .eval {
    margin-bottom: 10px;
}

.card .eval i {
    font-size: 1em;
    color: var(--second-color);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-108.25% - 9.75px));
    }
}

.home-right {
    grid-area: 1 / 3 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.home-right .home-right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
}

.home-right .home-right-img img {
    width: 100%;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.home-down {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-down-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.home-down-img img {
    width: 100%;
}

/* Présentation des produits */
.home-down-right {
    grid-area: 4 / 2 / 5 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pres-products {
    width: 100%;
}

.products-card {
    position: relative;
}

.pres-products-container {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    gap: 5px;
    background-color: transparent;
    transform: translateY(-50%);
}

.pres-products-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: var(--white);
    border: none;
}

.pres-products-left .product-title {
    font-size: clamp(1.5rem, 2vw, 5rem);
}

.pres-products-left .product-description {
    margin: 30px 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
    line-height: 2em;
}

.pres-products-left .product-price {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
    color: var(--second-color);
}

.pres-products-right {
    grid-area: 4 / 4 / 5 / 5;
}

.pres-products-right div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pres-products-right div img {
    width: 100%;
    object-fit: cover;
    background-position: center;
    -webkit-box-shadow: 1px 1px 13px 5px rgba(0,0,0,0.69); 
    box-shadow: 1px 1px 13px 5px rgba(0,0,0,0.69);
}

@media screen and (max-width: 991px) {
    .home {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-left {
        grid-area: 1 / 1 / 5 / 5;
        border-right: 0.1px dashed var(--white);
    }

    .home-right {
        grid-area: 5 / 1 / 6 / 5;
    }
    
    .home-right .home-right-img img {
        width: 100%;
    }

    .home-down {
        display: none;
    }

    .home-down-right {
        grid-area: 6 / 1 / 7 / 3;
    }

    .pres-products-right {
        grid-area: 6 / 3 / 7 / 5;
    }
}
