.global-product {
    width: 100vw;
    max-width: 100vw;
    color: var(--white);
    background: url(../../../assets/images/fde/product/product-1.png) center/cover no-repeat;
}

.product {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.product-back-link {
    margin-bottom: 10px;
}

.product-back-link a {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
    color: var(--white);
}
.product-back-link a:hover {
    color: var(--second-color);
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 70vh;
    backdrop-filter: blur(7px);
    border: double thick var(--white);
}

.product-img-container {
    max-width: 250px;
    max-height: 250px;
}

.product-img-container img {
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: var(---webkit-box-shadow);
    box-shadow: var(--box-shadow);
}

.product-text {
    max-height: 250px;
}

.product-text .product-title {
    font-size: clamp(1.5rem, 1.2vw, 7rem);
}

.product-text .product-description {
    padding: 30px 20px;
    text-align: justify;
    font-size: clamp(1.3rem, 1vw, 3rem);
    line-height: 1.5em;
}

.product-text .product-price {
    font-size: clamp(1.3rem, 1.2vw, 5rem);
    color: var(--second-color);
}

.product-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.product-buttons button i {
    margin-right: 10px;
}